& when (@media-common = true)
{
    .estimation-wrapper {
        margin-bottom: 10px;
        .heading-container {
            margin-bottom: 3px;
            position: relative;
            .label {
                display: none;
                font-weight: 600;
                margin-bottom: 0;
                margin-right: 5px;
            }
            img.loader {
                display: none;
                max-height: 20px;
                position: absolute;
                top: 0;
                &.visible {
                    display: inline-block;
                }
            }
            &.visible {
                .label {
                    display: inline-block;
                }
            }
        }
        .response-container {
            display: none;
            min-height: 28px;
            span {
                margin-top: 5px;
                margin-bottom: 0;
                &.post-code {
                    cursor: pointer;
                    font-weight: 600;
                    text-decoration: underline;
                }
                &.country-code {
                    font-weight: 600;
                }
                &.error-massage {
                    display: none;
                    color: #ff0000;
                    cursor:pointer;
                    text-decoration: underline;
                }
            }
            .order-within-container,
            #estimation_message {
                display: none;
                margin-top: 3px;
                #order_within {
                    font-weight: bold;
                    margin-top: 0;
                }
            }
            .input-wrapper {
                display: inline-block;
                input, select {
                    display: none;
                    height: auto;
                    margin: 0 5px 0 0;
                    max-width: 72px;
                    padding: 2px;
                    text-align: center;
                }
            }
            &.visible {
                display: block;
            }
        }
        &.show-spinner {
            min-height: 25px;
        }
    }



    #estimated_content {
        display: none;
        float: left;
        margin-bottom: 10px;
        width: 100%;
        strong.label {
            float: left;
            min-height: 25px;
        }
        .loader {
            display: none;
            position: relative;
            top: 0;
            left: 10px;
            img {
                height: 20px;
            }
        }
        #estimated_response {
            display: none;
            float: left;
            min-height: 30px;
            width: 100%;
            span {
                display: inline-block;
                padding-top: 5px;
                &#zip {
                    cursor:pointer;
                    text-decoration:underline
                }
                &#zip_response,
                &#country_response {
                    font-weight: bold;
                }
                &#zip_response.clickable {
                    cursor: pointer;
                    text-decoration: underline;
                }
                &.input-wrapper {
                    padding-top: 0;
                }
            }
            .update-location {
                display: inline-block;
                position: relative;
                padding: 0;
                margin: 0;
                .input-wrapper,
                .buttons {
                    padding: 0;
                    margin: 0;
                    position: relative;
                    top: 0;
                }
                #input_zip,
                #input_country {
                    display: none;
                    border: 1px solid #ccc;
                    border-radius: 0;
                    font-size: inherit;
                    text-align: center;
                    margin: 0 2px;
                    height: 26px;
                    padding: 0;
                    max-width: 75px;
                    &.empty {
                        border-color: #ff0000;
                    }
                }
                #coutry_text {
                    display: none;
                }
                #input_zip {
                    margin-left: 0;
                }
                #input_country {
                    padding: 0 20px 0 10px;
                    position: relative;
                }
                .buttons {
                    padding: 0;
                    #update_location {
                        cursor: pointer;
                        border-radius: 0;
                        padding: 0;
                        margin: 0 5px;
                        top: -2px;
                        position: relative;
                        span {
                            padding: 0;
                            margin: 0;
                            width: 26px;
                            &:before {
                                font-family: 'luma-icons';
                                font-size: 12px;
                                line-height: 24px;
                                content: '\e610';
                                display: inline-block;
                            }
                        }
                    }
                    #update_location {
                        display: none;
                    }
                }
            }
            @media only screen and (max-width: 1040px) {
                .update-location {
                    margin-top: 5px;
                }
            }
        }
        #error {
            display: none;
            float: left;
            width: 100%;
            #error-message {
                color: #ff0000;
                &.clickable {
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
        }
    }

    .wesupply_estimations_zip {
        max-width: 65px;
    }

    .page-header-v3,
    .page-header-v4 {
        .header_right {
            .wesupply-link-v2 {
                display: none;
            }
        }
    }
    .page-header-v4.sticky-header {
        .header.links {
            .wesupply-tracking-info {
                margin-right: 15px;
            }
        }
    }

    .wesupply_options {
        width: 150px;
        margin-right: 10px;
    }

    .wesupply-link-v2 {
        float: left;
        line-height: 30px;
    }

    .sticky-header {
        .wesupply-link-v2 {
            display: none;
        }
    }

    /* DESIGN 1 */

    .sms-center {
        text-align: center;
    }

    #ws_embed_sms_notification {
        clear: left;
        font: 14px Helvetica, Arial, sans-serif;
        margin: 40px 0 20px;
        padding: 0;

        &.design-1 {
            #phonePrefix,
            #ws-Phone {
                height: 50px;
            }
        }

        &.ws-left {
            text-align: left;

            &.sms-center {
                max-width: 640px;
                margin: 0 auto;
                text-align: center;
            }
        }

        .block-span {
            display: block;

            &.mg-top-span {
                margin-bottom: 10px;
            }
        }

        .control-subs {
            &:before {
                font-size: 16px;
                line-height: 32px;
                color: #575757;
                margin: 6px 0 0 8px;
                vertical-align: middle;
                display: inline-block;
                font-weight: normal;
                overflow: hidden;
                speak: none;
                text-align: center;
                position: absolute;
                background: url('../WeSupply_Toolbox/images/icone_phone.png');
                content: '';
                width: 12px;
                height: 20px;
            }

            .ws-Phone {
                padding-left: 35px;
            }

        }
        #ws-responses {
            padding: 20px 0;
            margin: 0 auto;
        }
    }

    #ws-responses {
        padding-bottom: 20px;
        #ws-error-response {
            color: red;
        }
        #ws-success-response {
            color: green;
        }
    }

    /* DESIGN 2 */

    .sms-center-design-2 {
        margin: 0 auto;
        text-align: center;
    }

    .ws-title-description-container-dsg2 {
        margin: 0;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .ws_embed_sms_notification {
        width: 100%;
        margin-top: 50px;

        .inline-block {
            width: 100%;
            text-align: left;
            border: 1px solid #b5b5b5;
            position: relative;
            .title-dsg-2 {
                border-right: 1px solid #b5b5b5;
                float: left;
                min-height: 26px;
                line-height: 26px;
                padding: 15px 30px;
            }

            .description-dsg-2 {
                float: left;
                display: inline-block;
                width: auto;
                padding: 14px 20px;
                min-height: 26px;
                line-height: 26px;
            }
            .ws-embedded-sms-notification-form-dsg-2 {
                float: right;
                display: inline-block;
                max-width: unset;
                padding: 11px;
                min-width: 396px;
                width: auto;
                .ws-phone-dsg-2 {
                    width: 205px;
                    float: left;
                    border-right: 0 none;
                    height: 32px;
                    padding: 0 0 0 26px;
                    border-right: 0 none;
                }
                .ws-country-pc-dsg2 {
                    padding: 0 0 0 26px;
                    height: 34px;
                    width: 130px;
                }
                .ws-orderId-dsg2 {
                    margin-bottom: 10px;
                    max-width: 100%;
                }
                button.action {
                    float: left;
                    clear: none;
                    margin: 0;
                    border-radius: 0;
                }
            }

            .sms-subs {
                margin-top: -3px;
                border-radius: 3px;
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
            }

            .title-dsg-2 {
                padding: 14px;
                font-size: 13px;
                margin: 0;
                background: #f4f4f4;
            }

            .control-subs-2 {
                &:before {
                    font-size: 16px;
                    line-height: 32px;
                    color: #575757;
                    margin: 6px 0 0 8px;
                    vertical-align: middle;
                    display: inline-block;
                    font-weight: normal;
                    overflow: hidden;
                    speak: none;
                    text-align: center;
                    position: absolute;
                    background: url('../WeSupply_Toolbox/images/icone_phone.png');
                    content: '';
                    width: 12px;
                    height: 20px;
                }
            }
        }

        @media screen and (max-width: 988px) {
            .inline-block {
                .title-dsg-2 {
                    display: none;
                }
            }
        }
        @media screen and (max-width: 767px) {
            .inline-block {
                border: 0 none;
                .description-dsg-2 {
                    padding-left: 0;
                }
                .ws-embedded-sms-notification-form-dsg-2 {
                    float: left;
                    padding: 0 0 10px 0;
                    clear: both;
                }
                .ws-title-description-container-dsg2 {
                    position: relative;
                }
            }
        }
        @media screen and (max-width: 767px) {
            .inline-block {
                border: 1px solid #b5b5b5;
                .description-dsg-2 {
                    text-align: center;
                    width: 100%;
                }
                #ws-embedded-sms-notification-form.ws-embedded-sms-notification-form-dsg-2  {
                    padding: 0 20px;
                    min-width: unset;
                    #ws-Phone {
                        width: calc(~'100% - 130px');
                        border-right: 1px solid #c2c2c2;
                    }
                    #ws-orderId {
                        margin-bottom: 10px;
                        width: 100%;
                        max-width: 100%;
                    }
                    button#ws-embedded-subscribe {
                        width: 100%;
                        margin-top: 10px;
                        float: none;
                        height: auto;
                    }
                }
            }
        }
    }

    .wesupply-track-shipment,
    .wesupply-orders-view {
        .page-title-wrapper {
            display: none;
        }
    }
    iframe.embedded-iframe.ws-stores-view {
        height: 820px;
    }
    #order-view-container {
        height: 1000px;
    }
    .order-view-modal {
        .page-main-actions {
            display: none;
        }
        .modal-header {
            display: none;
        }
        .modal-content {
            padding: 0;
        }
    }
    .loading-container {
        text-align: center;
        padding: 40px;
        position: relative;
        .loading-image {
            background: url('@{baseDir}images/loader-2.gif') center center no-repeat transparent;
            background-size: contain;
            position: absolute;
            top: 0;
            left: calc(~'50% - 100px');
            height: 200px;
            width: 200px;
            z-index: 100;
        }
    }
    [class*="cms-wesupply-store-locator"],
    [class*="cms-wesupply-store-details"],
    .wesupply-track-shipment {
        #maincontent {
            position: relative;
            margin: 0 auto !important;
            max-width: unset;
            padding: 0;
            width: 100%;
            .embedded-iframe-container {
                .page-title {
                    text-align: left;
                }
            }
            .not-found {
                padding: 40px 0 20px;
                margin: 0 auto;
                display: table;
            }
        }
        .breadcrumbs {
            display: none;
        }
    }

    #co-shipping-method-form {
        .item-options {
            .field.item {
                margin-left: 20px;
                input.radio {
                    margin-left: -20px;
                    margin-top: 2px;
                }
                label.label {
                    position: relative;
                    top: -2px;
                    left: -2px;
                }
                span.eta {
                    display: block;
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .order-view-modal {
            max-width: 989px;
            left: calc(~"100% - 989px");
        }
    }
    /* quick fix for pearl users */
    .theme-pearl .ws_embed_sms_notification .inline-block .ws-embedded-sms-notification-form-dsg-2 .ws-phone-dsg-2 {
        height: 34px;
    }
    .theme-pearl .ws_embed_sms_notification .inline-block .ws-embedded-sms-notification-form-dsg-2 .ws-country-pc-dsg2 {
        height: 34px;
    }
    @media screen and (max-width: 767px) {
        .theme-pearl {
            .checkout-shipping-method {
                .table-checkout-shipping-method {
                    thead {
                        display: none;
                    }
                    tbody {
                        padding-bottom: 20px;
                        tr.row {
                            display: flex;
                            margin-left: 0;
                            padding-bottom: 0;
                            &:first-child,
                            &.row-eta,
                            td.col {
                                border: 0 none;
                            }
                        }
                    }
                }
            }
        }
    }
    /* quick fix for non pearl users */
    body:not(.theme-pearl) {
        #estimated_content {
            #estimated_response {
                .update-location {
                    .input-wrapper,
                    .buttons {
                        #input_zip {
                            height: 26px;
                            min-height: unset;
                            max-height: unset;
                            position: relative;
                            top: -1px;
                        }
                        #input_country,
                        #update_location {
                            height: 28px;
                        }
                        #input_country {
                            top: -1px;
                        }
                    }
                }
            }
        }

        #ws_embed_sms_notification {
            &.sms-center {
                max-width: 560px;
                margin: 40px auto;
            }
            &.sms-center-design-2 {
                margin: 40px auto;
            }
            .ws-field-group {
                position: relative;
                &:before {
                    left: 0;
                }
                #phonePrefix,
                #ws-Phone {
                    height: 32px;
                    vertical-align: bottom;
                }
                #ws-Phone {
                    padding-left: 5px;
                }
                #ws-orderId {
                    margin-bottom: 10px;
                    width: 460px;
                    max-width: 100%;
                }
            }
        }
    }
    .checkout-onepage-success {
        .delivery-estimations {
            font-size: 1.8rem;
            font-weight: 600;
            padding-top: 20px;
        }
    }
}

/* MEDIA QUERIES */
.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__m){
    .ws_embed_sms_notification {
        text-align: center !important;

        .inline-block {
            display: inline-block;
        }

        .wpx-span {
            margin: 0 4%;
            font-size: 10px;
        }
    }
    #ws_embed_sms_notification {
        .control-subs {
            .ws-Phone {
                width: 325px;
            }

            .ws-country-pc {
                padding-top: 5px;
                width: 130px;
            }

            .sms-subs {
                margin-top: -3px;
                margin-left: -5px;
                border-radius: 0;
            }
        }
    }
    .theme-pearl {
        #ws_embed_sms_notification {
            max-width: 1030px;
            &.sms-center-design-2 {
                margin: 0 auto 60px;
            }
            .ws-phone-dsg-2 {
                width: 160px;
                padding-left: 24px;
            }

            .ws-country-pc-dsg2 {
                width: 33%;
            }

            .control-subs {
                &:before {
                    margin-top: 15px;
                }

                .ws-country-pc {
                    width: 140px;
                }

                .sms-subs {
                    height: 50px;
                    border-radius: 0;
                    margin-top: -3px;
                }
            }
        }
    }
    .table-checkout-shipping-method {
        tr.row-eta {
            display: none;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'min') and (@break = @screen__l){
    .ws_embed_sms_notification {
        max-width: 1015px;

        .wpx-span {
            margin: 0 9%;
            font-size: 14px;
        }
    }
}

.media-width(@extremum, @break) when (@extremum = 'max') and (@break = @screen__m){

    .wesupply-link-v2 {
        display: none;
    }

    .ws_embed_sms_notification {
        text-align: center;
    }
    .wpx-span {
        span {
            display: block;
            margin: 15px 0;
            font-size: 10px;
        }
    }
    .control-subs-2 {
        margin-bottom: 15px;
    }
    #ws_embed_sms_notification {
        .control-subs {
            .ws-Phone {
                width: 80%;
            }

            .ws-country-pc {
                width: 18%;
                min-width: 130px;
            }

            .sms-subs {
                margin-top: 15px;
                border-radius: 0;
                width: 100%;
            }
        }
    }
    #estimated_response {
        .update-location {
            #input_country {
                position: relative;
                top: 1px;
            }
        }
    }
    .table-checkout-shipping-method {
        tbody {
            border-top: 1px solid #cccccc;
            padding-bottom: 20px;
            display: block;
            tr {
                padding-bottom: 20px;
                td {
                    padding-bottom: 10px;
                    &.col-eta.eta-desktop {
                        display: none;
                    }
                }
                &.row-eta {
                    display: table-row;
                    td {
                        padding-bottom: 20px;
                        &.col-method,
                        &.col-eta {
                            border-top: 0 none;
                            padding-top: 5px;
                            padding-bottom: 5px;
                        }
                    }
                }
            }
            &:first-of-type {
                border-top: 0 none;
            }
        }
    }
    .theme-pearl {
        #ws_embed_sms_notification {
            #ws-Phone {
                width: 210px;
            }

            #phonePrefix,
            #ws-Phone {
                height: 50px;
            }

            #ws-embedded-subscribe {
                width: 100px;
                height: 50px;
            }

            .control-subs-2 {
                &:before {
                    margin-top: 15px;
                }

                margin-bottom: 15px !important;
            }

            .control-subs {
                &:before {
                    margin-top: 15px;
                }

                .sms-subs {
                    border-radius: 0;
                    width: 100%;
                }
            }
        }
    }
    #ws_embed_sms_notification.ws-left  {
        padding: 0 20px 20px;
        border: 1px solid #b5b5b5;
        #ws-Phone {
            width: calc(~'100% - 135px');
            position: relative;
            top: 1px;
        }
        button#ws-embedded-subscribe {
            margin-top: 10px;
            height: auto;
            width: 100%;
        }
    }
    .ws_embed_sms_notification.sms-center-design-2 {
        .inline-block {
            width: auto;
            .description-dsg-2 {
                width: 100%;
                text-align: center;
                padding: 15px;
                margin-top: 20px;
            }
        }
    }
    /* quick fix for non pearl users */
    body:not(.theme-pearl) {
        #estimated_content {
            #estimated_response {
                .update-location {
                    .input-wrapper {
                        #input_country {
                            top: 0;
                        }
                    }
                }
            }
        }
    }
}
